
  h1
{
    text-align: center;
    color: #1B5E20;
    font-weight: bold;
  font-size: large;
}


#users {
    font-family:  Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 96%;
    font-size:small;
    font-weight: bold;
    margin: 10px 23px 10px 23px;
  }
  
  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1B5E20;
    color: white;
  }

  input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
    font-size: medium;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 15px 10px 30px;
    margin: 10px 23px 10px 23px;

   
  }
  .button{
    background-color:#1B5E20;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    margin: 13px 12px 12px 10px;
    font-weight: bold;
    font-size: medium;
    border: 2px solid #1B5E20;
   
  
  }